{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-transform-instanceof",
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
